[core]
	autocrlf = false
	excludesfile = ~/.gitignore_global
[user]
	name = Daniel Vizzini
	email = dvizzini@etsy.com
	signingkey = 07C71767ADA33286
[alias]
	lg = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	glol = log --all --color --graph --pretty=format:'%Cred%h%Creset%x09%C(yellow)%d%Creset %s %C(cyan)(%cr) %C(blue)[%an]%Creset' --abbrev-commit
	df = diff --color-words
	co = checkout
	br = branch
	ci = commit
	st = status
[color]
	ui = true
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
